In [10]:
import os
import hashlib

import base64 
base64.b64encode(os.urandom(32))

uid = "john"

salt = "JrOz5Irlgf5Lh6CIHLsUQO4CJk14yuQJXRmGd7Wc3LE="
iter_num = 100
hash_object = hashlib.pbkdf2_hmac("sha256", uid.encode(), salt.encode(), iter_num)
hash_object.hex()

'1b097e608eaad98b508b62f11d4bd932832201af4dc4f774f74b10070f12f502'

In [1]:
import pandas as pd
import uuid

df = pd.read_csv("data/matches.csv")

In [5]:
import pandas as pd

def get_result(row):
    if pd.isna(row['player1_score']) or pd.isna(row['player2_score']):
        return pd.Series([None, None])
    if row['player1_score'] > row['player2_score']:
        return pd.Series([row['player1_uid'], row['player2_uid']])
    elif row['player2_score'] > row['player1_score']:
        return pd.Series([row['player2_uid'], row['player1_uid']])
    else:
        return pd.Series([None, None])  # tie

# Apply function to get winner and loser columns
df[['winner', 'loser']] = df.apply(get_result, axis=1)

# Remove ties (no winner/loser)
df = df[df['winner'].notna()]

# Count wins and losses
win_counts = df['winner'].value_counts().rename_axis('player').reset_index(name='wins')
loss_counts = df['loser'].value_counts().rename_axis('player').reset_index(name='losses')

# Merge wins and losses
results = pd.merge(win_counts, loss_counts, on='player', how='outer').fillna(0)

# Convert to int
results[['wins', 'losses']] = results[['wins', 'losses']].astype(int)

# Sort by wins descending
results = results.sort_values(by='wins', ascending=False)

# Show the final table
display(results)

     player  wins  losses
0      anna     1       0
7      john     1       0
15    susan     1       0
13  patrick     1       0
11     mike     1       0
1       bob     1       0
9      liam     1       0
2   charlie     1       0
17     will     1       0
6      greg     0       1
8      kate     0       1
5       eve     0       1
10     lucy     0       1
4      ella     0       1
12     olga     0       1
3     diana     0       1
14   sophie     0       1
16      tom     0       1